# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Firmware/Sources/db
Firmware/Sources/incremental_db
Firmware/Sources/mcscc.asm.rpt
Firmware/Sources/mcscc.done
Firmware/Sources/mcscc.fit.rpt
Firmware/Sources/mcscc.fit.summary
Firmware/Sources/mcscc.flow.rpt
Firmware/Sources/mcscc.map.rpt
Firmware/Sources/mcscc.map.summary
Firmware/Sources/mcscc.sta.rpt
Firmware/Sources/mcscc.sta.summary
Firmware/Sources/mcscc_assignment_defaults.qdf
